@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #fefefe;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #35424a;
}

.navbar-home {
  background-color: #fefefe;
  font-weight: 700;
}

.btn-search {
  background-color: #fefefe;
}

.author {
  margin-top: -16px;
}

.form-control {
  border-radius: 10px;
  font-size: 14px;
}

.btn {
  /* border-radius: 10px; */
  font-size: 14px;
}

.btn-login {
  background-color: #3a4750;
  border-width: 0;
  border-radius: 100px;
  font-weight: 400;
}

.btn-search {
  color: #3a4750;
}

/* search */

.field-search {
  border-radius: 100px;
}

.btn-search {
  background-color: #fefefe;
}

/* card */

.card-author {
  border-radius: 20px;
  background-color: #ffff;
  box-shadow: 0px 0px 3px 0px #3a4750;
}

.card-author:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

@media screen and (min-width: 994px) {
  .form-control {
    width: 350px;
  }
}

@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
  }
}

.row-container {
  background-color: #ffff;
  margin: 0px;
}

.ps-1 {
  color: white;
}

.tx-footer {
  color: white;
}

.tx-footer:hover {
  color: blue;
  background-color: white;
}

.footer {
  background-color: #42c0f0;
}
